{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home_ozempic/static.css' %}">
    <title>Calculadora de Dose</title>
</head>
<body>
    <div class="form-container">
        <h1 class="form-title">Calculadora de Dose</h1>

        <form method="post">
         {% csrf_token %}
         <div class="form-group">
            {{ form.peso.label_tag }} {{ form.peso }} {{ form.peso.errors }}
         </div>
         <div class="form-group">
            {{ form.altura.label_tag }} {{ form.altura }} {{ form.altura.errors }}
         </div>
         <div class="form-group">
            {{ form.tem_diabetes.label_tag }} {{ form.tem_diabetes }} {{ form.tem_diabetes.errors }}
         </div>
         <div class="form-group">
            {{ form.tem_problemas_cardiacos.label_tag }} {{ form.tem_problemas_cardiacos }} {{ form.tem_problemas_cardiacos.errors }}
         </div>
         <div class="form-group">
            {{ form.dose_alvo.label_tag }} {{ form.dose_alvo }} {{ form.dose_alvo.errors }}
        </div>
        <button type="submit">Calcular</button>
     </form>  
    </div>
</body>
</html>

